form .ng-valid {
  color: green;
  border-bottom: solid 2px green;
}

form .ng-invalid {
  border-bottom: solid 2px red;
}

.alert-danger {
  padding: 0 5px 0 5px;
  margin: 0 5px 4px 5px;
  font-size: 12px;
  color: red;
}

.submit {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  font-size: 15px;
  font-weight: normal;
  border: none;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 20px 10px rgba(135, 122, 122, 0.469);
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.5);
  background-color: #565656;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  cursor: pointer;

  &:hover {
    font-weight: bold;
    box-shadow: inset 0 -10px 10px 0 rgba(82, 71, 71, 0.301);
  }
}
