<div class="registration registration-success"
  [ngClass]="sll.statusRegistration ? 'registration-success':'registration-danger'">
  <div class="wrap-registration-form" [ngClass]="sll.statusRegistration ? 'opacity-success':'opacity-danger'">
    <div class="title-registration">Registration</div>
    <form (submit)="onSubmit()" [formGroup]="userForm">
      <p>
        <label for="name">{{ formLabels.name }}:
          <span *ngIf="userForm.get('name')?.hasError('minlength')" class="alert alert-danger">
            Minlength 4 symbol
          </span>
          <span *ngIf="userForm.get('name')?.hasError('maxlength')" class="alert alert-danger">
            Maxlength 8 symbol
          </span>
        </label>
        <input formControlName="name" type="text" id="name" placeholder="{{ formPlaceholder.name }}" />
      </p>

      <p>
        <button type="button" class="buttonPassword" (click)="showHidePassword()" *ngIf="userForm.value.password">
          {{formLabels.password }}
          <img class="img-password" src="https://img.icons8.com/ios/500/show-password.png" alt="see password" />
          :
          <span *ngIf="
            userForm.get('password')?.hasError('minlength') &&
            userForm.get('password')?.touched
          " class="alert alert-danger">
            Minlength 8 symbol
          </span>
        </button>
        <label *ngIf="!userForm.value.password" for="password">Password: </label>
        <input formControlName="password" type="{{ typePassword }}" id="password"
          placeholder="{{ formPlaceholder.password }}" />
      </p>

      <p>
        <label for="mail">{{ formLabels.email }}:
          <span *ngIf="userForm.get('email')?.hasError('pattern')" class="alert alert-danger">
            Wrong format email
          </span>
        </label>
        <input formControlName="email" type="email" id="mail" placeholder="{{ formPlaceholder.email }}" />
      </p>
      <button class="button-save" type="submit" [disabled]="userForm.invalid" (click)="isFormRegistration()">
        <span class="button-save-unValid" *ngIf="userForm.invalid">Fields with an asterisk are required</span>
        <span class="button-save-valid" *ngIf="!userForm.invalid">Save</span>
      </button>
    </form>
  </div>
  <div class="popup-user-out" [ngClass]="sll.statusPopup ? 'popup-user-in':''">
    <span class="popup-title-wrap">
      <h1 class="popup-title-logout">Welcome {{userName}}</h1>
      <img class="popup-img-logout" (click)="isFormRegistration()"
        src="https://us.123rf.com/450wm/faysalfarhan/faysalfarhan1710/faysalfarhan171011434/88836773-logout-isolated-on-elegant-red-round-button-abstract-illustration.jpg?ver=6"
        alt="">
    </span>
  </div>
  <h1 class="title">Angular CRUD application</h1>
</div>
<app-customers-host></app-customers-host>
