.title {
  margin-top: 15px;
}

.registration-success {
  margin: -600px 1rem 0 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  border-radius: 1rem;
  text-align: center;
  background-color: white;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.47);
  position: relative;
  animation-name: registration-success;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes registration-success {
  from {
    top: 0;
  }

  to {
    top: 600px;
  }

}

.registration-danger {
  margin: -600px 1rem 0 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  border-radius: 1rem;
  text-align: center;
  background-color: white;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.47);
  position: relative;
  animation-name: registration-danger;
  animation-duration: 2s;
}

@keyframes registration-danger {
  from {
    top: 600px;
  }

  to {
    top: 0;
  }
}

.button-registration {
  margin: 0 0 -2.2rem 93.2%;
  padding: 0.5rem;
  width: 8.5%;
  border: none;
  font-size: 15px;
  font-weight: bold;
  border-bottom-left-radius: 150rem;
  border-bottom-right-radius: 150rem;
  background-color: white;
  color: grey;
  box-shadow: 0 20px 10px rgba(0, 0, 0, 0.47);
}

.button-registration-success {
  color: green;
}
